<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- seo -->
  <title>{{ title_full }}</title>
  <meta name="description" content="{{ subtitle }}"/>
  <meta name="keywords" content="UX, User Experience, Chatbots, Virtual Assistants, Conversational Interface, UI, User Interface, User Experience of Chatbots"/>
  <!-- opengraph -->
  <meta property="og:title" content="{{ title_full }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{ baseurl }}"/>
  <meta property="og:image" content="{{ baseurl }}/assets/uxchatbotslogo.png"/>
  <!-- twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@omgmog" />
  <meta name="twitter:title" content="{{ title_full }}" />
  <meta name="twitter:description" content="{{ subtitle }}" />
  <meta name="twitter:image" content="{{ baseurl }}/assets/uxchatbotslogo.png" />

  <!-- everything else -->
  <link rel="apple-touch-icon" sizes="57x57" href="assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="manifest" href="{{ baseurl }}/manifest.json">
  <link rel="stylesheet" href="{{ baseurl }}/assets/style.css">
  <link rel="canonical" href="{{ baseurl }}" />
</head>
<body>
<a href="#top" title="Go to the top of the page" class="to-top"></a>
  <header>
    <div class="inner">
      <img
        src="./assets/chatbot.svg"
        alt="The logo of the UX of Chatbots"
        class="logo"
      >
      <h1>{{ title_short }}</h1>
      <p>{{ subtitle }}</p>
    </div>
  </header>
  <main id="top">
    <section class="intro">
      <h3>{{ title_full }}</h3>
      {% for para in intro %}
        <p>{{ para }}</p>
      {% endfor %}
      <p class="signoff">Inspired and forked from <a href="https://uxofvr.com" target="_blank">UXofVR.com</a> list by <a href="https://omgmog.net" target="_blank">Max Glenister</a> (<a href="https://twitter.com/omgmog" target="_blank">@omgmog</a> on Twitter)</p>
      <p class="signoff">Curated &amp; built with love by <a href="https://medium.com/@jesusmartin/" target="_blank">Jesús Martín</a> (<a href="https://twitter.com/chus9000" target="_blank">@chus9000</a> on Twitter)</p>
      <div class="buttons">

        <a href="{{ github_suggest.url }}" target="_blank" rel="noopener" class="btn">{{ github_suggest.text }}</a>
        <a href="{{ github_view.url }}" target="_blank" rel="noopener" class="btn">{{ github_view.text }}</a>
        <a href="{{ twitter.url_base }}{{ twitter.message }}&amp;url=http://uxofchatbots.com/&amp;via=omgmog" target="_blank" rel="noopener" class="btn">{{ twitter.button_text }}</a>

      </div>
    </section>
    <section class="content">
    {% for section in sections %}
      <h2 id="{{ section._ }}">{{ section.p }}</h2>
      {% for resource in resources %}
        {% if resource.type == section._ %}
        <div class="resource resource-{{ resource.type }}">
          <input
            type="checkbox"
            name="read-resource-{{ loop.index }}"
            id="read-resource-{{ loop.index }}"
            class="read-control"
          >
          <label
            for="read-resource-{{ loop.index }}"
            class="label"
          >Mark as read</label>
          <h3>
            <a href="{{ resource.url }}" target="_blank" rel="noopener">
              {{ resource.title }}
            </a>
            <br>
            {% set url_frags = resource.url | split('/') %}
            <em>{{ url_frags[2] }}</em>
          </h3>
          <h4>{{ resource.author }}</h4>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </section>
    <footer>

    </footer>
  </main>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.slim.min.js"></script>
  <script>
    $(function () {
      var getSavedProgress = function () {
        var progressData = window.localStorage.getItem('uxofvr_progress');
        if (progressData) {
          progressData = JSON.parse(progressData);
          return progressData;
        }
        return null;
      };

      var saveProgress = function (progress) {
        var progressData = JSON.stringify(progress);
        window.localStorage.setItem('uxofvr_progress', progressData);
      };

      var progress = getSavedProgress() || {"items":[]};

      var updateProgress = function (resid, can_delete) {
        var resindex = progress.items.indexOf(resid);
        if (resindex === -1) {
          // add it to our items list
          progress.items.push(resid);
        } else {
          if (can_delete) {
            // delete it from our items list
            progress.items.splice(resindex, 1);
          }
        }
        saveProgress(progress);

        $.each(progress.items, function (index, item) {
          var itemSelector = "[name='"+item+"']";
          $(itemSelector)[0].checked = true;
        });
      };

      $.each(progress.items, function (index, item) {
        var itemSelector = "[name='"+item+"']";
        $(itemSelector)[0].checked = true;
      });

      $(document).on('click', '.read-control', function (e) {
        var resid = $(this).attr('name');
        updateProgress(resid, true);
      });

      // Mark a resource as "read" once we've clicked the link
      $(document).on('click', '.resource a', function () {
        var $res = $(this).closest('.resource').find('.read-control');
        $res.attr('checked', true);
        var resid = $res.attr('name');
        updateProgress(resid, false);
      });

      $(document).on('click', '.resource-video a', function (e) {
        var url = $(this).attr('href');
        var is_youtube = url.includes('youtube.com');
        var is_youtube_playlist = is_youtube && url.includes('&list');
        var is_vimeo = url.includes('vimeo.com');
        var resid = $(this).closest('.resource').find('.read-control').attr('name');

        if ( (is_youtube || is_vimeo) && !is_youtube_playlist ) {
          e.preventDefault();
          updateProgress(resid, false);

          if (is_youtube) {
            url = url.replace(/watch\?v=/,'embed/');
          }
          if (is_vimeo) {
            // pretty hacky, but as I'm in control of the urls this is _fine!_
            url = url.replace(/vimeo\.com\//, 'player.vimeo.com/video/') + "?title=0&byline=0&portrait=0";
          }

          $(this).closest('.resource').append(function () {
            var existing = $('iframe[src*="'+url+'"]');
            if (existing.length) {
              existing.closest('.video-container').remove();
              return false;
            }
            return '<div class="video-container"><iframe src="'+url+'" frameborder="0" allowfullscreen></iframe></div>';
          });
        }
      });
    });

  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104776339-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
